{% extends "partials/base.html" %}
{% load static %}
{% block content %}

<div>
    <img src="https://i.postimg.cc/RFVk8Gdd/Banner-Eletrocardiografos-1-1700x350.png" alt="" class="mx-auto mt-0.5 lg:mt-0">
</div>

<div class="max-w-7xl mx-auto w-11/12 lg:w-full lg:mt-10 pb-20">
    <div class="lg:flex py-16 border-b-[5px] space-x-0 lg:space-x-8">
        <div class="lg:w-1/3 w-full">
            <img id="img-cardio-7" src="https://s3.sa-east-1.amazonaws.com/macrosul.media/itens/eletrocardiografo/cardio7-dicom/I03368/eletrocardiografo-cardio7-dicom-bionet-I03368-5.png" alt="" class="mx-auto transition-opacity duration-150 ease-in-out">
        </div>
        <div class="w-full mx-auto lg:w-2/3 pt-5">
            <div class="space-y-5 w-full">
                <h2 class="text-3xl">Cardio7</h2>
                <div class="w-12 h-[6px] bg-gray-300 rounded-full"></div>
                <p class="font-semibold">O Cardio7 possibilita visualizar na tela os exames antes da impressão e permite enviar, gerenciar e compartilhar dados dos pacientes através da conexão USB ou LAN.
                </p>
                <ul class="list-disc text-gray-500 font-light text-justify w-11/12 mx-auto lg:w-full">
                    <li> Integração direta com os principais PACS disponíveis no mercado, gera imagens no formato DICOM no próprio equipamento, sem a necessidade de conversão com outros programas ou computadores externos(Disponível na versão DICOM).</li>
                    <li>
                        Worklist integrado ao equipamento permite importar do sistema hospitalar a lista de exames agendados e selecionar os pacientes agilizando a fila de espera.
                    </li>
                    <li>
                        Conectividade direta com o sistema do hospital, via cabo de rede ou sem fio WI-FI.
                    </li>
                    <li>
                        Otimização do fluxo de trabalho, redução de custos e maior segurança na entrega e armazenamento dos exames.
                    </li>
                    <li>
                        Identificação dos pacientes no equipamento através do leitor de código de barras, evitando duplicidade de exames ou troca de pacientes.
                    </li>
                    <li>
                        Eliminação da digitalização dos exames impressos para anexar ao prontuário eletrônico.
                    </li>
                </ul>

                <div class="md:flex md:space-x-3 space-y-3 md:space-y-0">
                    <div class="flex space-x-3">
                        <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                            <a href="#" class="flex items-center">
                                Catálogo Cardio 7 Dicom
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
                                </svg>
                            </a>
                        </button>
    
                        <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                            <a href="#" class="flex items-center">
                                Catálogo Cardio 7
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
                                </svg>
                            </a>
                        </button>
                    </div>

                    <div class="flex space-x-3">
                        <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                            <a href="#" class="flex items-center">
                                Manual
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                                </svg>
                            </a>
                        </button>
    
                        <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                            <a href="#" class="flex items-center">
                                Software
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
                                </svg>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lg:flex py-16 border-b-[5px] space-x-0 lg:space-x-8">
        <div class="lg:w-1/3">
            <img id="img-cardio-care-2000" src="https://s3.sa-east-1.amazonaws.com/macrosul.media/itens/eletrocardiografo/cardiocare-2000/I04007/eletrocardiografo-cardiocare-2000-bionet-I04007-1.png" alt="" class="mx-auto transition-opacity duration-150 ease-in-out">
        </div>
        <div class="w-11/12 mx-auto lg:w-2/3 pt-5">
            <div class="space-y-5 w-full">
                <h2 class="text-3xl text-blue-600">CardioCare 2000</h2>
                <div class="w-12 h-[6px] bg-gray-300 rounded-full"></div>
                <p class="font-semibold">O CardioCare 2000 oferece rapidez, simplicidade e avançados recursos de conectividade para proporcionar os melhores resultados a um preço acessível!!
                </p>
                <ul class="list-disc text-gray-500 font-light text-justify w-11/12 mx-auto lg:w-full">
                    <li> Impressora térmica integrada de alta resolução</li>
                    <li>
                        Impressão em 1, 3, 6 e 12 canais no formato A4
                    </li>
                    <li>
                        Fácil operação utilizando apenas uma tecla
                    </li>
                    <li>
                        Economia de impressão, em modo grade, permite o uso de bobina de fax
                    </li>
                    <li>
                        Interpretação do ECG e medidas complexas
                    </li>
                    <li>
                        Bateria recarregável de longa duração
                    </li>
                    <li>
                        Software permite visualizar /arquivar / enviar / imprimir em papel comum
                    </li>
                    <li>
                        Opcionais de suporte com rodízios e/ou mesa de transporte
                    </li>
                </ul>

                <div class="flex space-x-3">
                    <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                        <a href="#" class="flex items-center">
                            Catálogo
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
                            </svg>
                        </a>
                    </button>
                   
                    <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                        <a href="#" class="flex items-center">
                            Manual
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                            </svg>
                        </a>
                    </button>

                    <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                        <a href="#" class="flex items-center">
                            Software
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
                            </svg>
                        </a>
                    </button>
                    
                </div>
            </div>
        </div>
    </div>


    <div class="lg:flex py-16 border-b-[5px] space-x-0 lg:space-x-8">
        <div class="lg:w-1/3">
            <img id="img-cardiotouch-3000" src="https://s3.sa-east-1.amazonaws.com/macrosul.media/itens/eletrocardiografo/cardiotouch/I04145/eletrocardiografo-cardiotouch-bionet-I04145-1.png" alt="" class="mx-auto transition-opacity duration-150 ease-in-out">
        </div>
        <div class="w-11/12 mx-auto lg:w-2/3 pt-5">
            <div class="space-y-5">
                <h2 class="text-3xl text-blue-600">Cardiotouch 3000</h2>
                <div class="w-12 h-[6px] bg-gray-300 rounded-full"></div>
                <p class="font-semibold">O CardioCare 2000 oferece rapidez, simplicidade e avançados recursos de conectividade para proporcionar os melhores resultados a um preço acessível!!
                </p>
                <ul class="list-disc text-gray-500 font-light text-justify w-11/12 mx-auto lg:w-full">
                    <li>Impressão em formato A4 permite fácil visualização</li>
                    <li>
                        Baixo custo de impressão – Função grade permite o uso de papel fax
                    </li>
                    <li>
                        Fácil operação, com apenas uma tecla (modo de impressão e modo monitor)
                    </li>
                    <li>
                        Aquisição de 12 canais simultâneos
                    </li>
                    <li>
                        Tela de LCD colorida 4,3″
                    </li>
                    <li>
                        Touch Screen para fácil operação
                    </li>
                    <li>
                        Interpretação do ECG baseado no avançado código Minnesota
                    <li>
                        Memória interna para 200 pacientes
                    </li>
                    <li>
                        Visualização do ECG em tempo real
                    </li>
                    <li>
                        Conexão com o PC através da LAN ou WiFi (opcional)
                    </li>
                    <li>
                        Idioma em Português
                    </li>
                    <li>
                        Mensagem de eletrodo solto
                    </li>
                    <li>
                        Detecção de Marcapasso
                    </li>
                </ul>

                <div class="flex space-x-3">
                    <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                        <a href="#" class="flex items-center">
                            Catálogo
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
                            </svg>
                        </a>
                    </button>
                   
                    <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                        <a href="#" class="flex items-center">
                            Manual
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                            </svg>
                        </a>
                    </button>

                    <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                        <a href="#" class="flex items-center">
                            Software
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
                            </svg>
                        </a>
                    </button>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/change_image.js' %}"></script>
<script>
trocaDeImagem(imgCardio7, 'https://i.postimg.cc/jjK6RFGH/Eletrocardi-grafo-Cardio7-Bionet-completo.jpg', 'https://s3.sa-east-1.amazonaws.com/macrosul.media/itens/eletrocardiografo/cardio7-dicom/I03368/eletrocardiografo-cardio7-dicom-bionet-I03368-5.png')

trocaDeImagem(imgCardioCare2000,'https://i.postimg.cc/HkZHmVvd/cardiocare-2000-acessorios.jpg','https://s3.sa-east-1.amazonaws.com/macrosul.media/itens/eletrocardiografo/cardiocare-2000/I04007/eletrocardiografo-cardiocare-2000-bionet-I04007-1.png')

trocaDeImagem(imgCardiotouch3000,'https://i.postimg.cc/BQSdvJK6/Eletrocardiografo-Cardio-Touch-3000-acessorios.jpg','https://s3.sa-east-1.amazonaws.com/macrosul.media/itens/eletrocardiografo/cardiotouch/I04145/eletrocardiografo-cardiotouch-bionet-I04145-1.png')
</script>

{% endblock content %}