{% extends "partials/base.html" %}
{% load static %}
{% block content %}

<section id="banner" class="splide">
    <div class="splide__track">
        <ul class="splide__list">
            <!-- BANNER 1 -->
            <li class="splide__slide h-[230px] lg:h-[510px] flex items-end w-full bg-cover bg-center bg-no-repeat" style="background-image: url(https://i.postimg.cc/xC9YdFcL/Banner-Site-Bionet-BM1-XPro-01.jpg);">
                <div class="lg:w-full lg:mb-28 mb-10">
                    <div class="w-9/12 lg:w-full lg:max-w-5xl mx-auto text-white">
                        <h2 class="font-bold text-3xl lg:text-7xl">BM1 XPro</h2>
                        <h3 class="text-[10px] lg:text-xl whitespace-nowrap">SINAIS VITAIS AUTOMATIZADOS E CONECTADOS</h3>
                    </div>
                </div>
            </li>
           
            <!-- BANNER 2 -->
            <li class="splide__slide h-[230px] lg:h-[510px] flex items-end w-full bg-cover bg-center bg-no-repeat" style="background-image: url(https://i.postimg.cc/GmQn5xM2/Banner-Site-Bionet-Eletrocardiografo-02.jpg);">
                <div class="w-full lg:mb-[330px] mb-28">
                    <div class="w-9/12 lg:w-full lg:max-w-2xl mx-auto text-white flex justify-end">
                        <div>
                            <h2 class="font-bold text-3xl lg:text-7xl">CARDIO 7</h2>
                            <h3 class="text-[10px] lg:text-xl whitespace-nowrap">INTEGRAÇÃO | OTIMIZAÇÃO | ECONOMIA</h3>
                        </div>
                        
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<div class="w-full max-w-7xl mx-auto lg:py-28 space-y-10">
    <div class="lg:flex  w-full border-b-2 shadow pb-8 lg:pb-0">
        <div class="w-11/12 mx-auto lg:w-1/2 space-y-6 pt-10">
            <div class="border-l-4 border-[#43b4ff] pl-5">
                <h3 class="text-3xl">Medidor de Sinais Vitais BM1 XPRO</h3>
                <h4 class="text-gray-500">Sinais Vitais Automatizados</h4>
            </div>

            <div>
                <p>Versátil, portátil e leve, o design compacto que leva a decisões clínicas imediatas.</p>
            </div>

            <div>
                <button>
                    <a href="#" class="border rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-200 flex items-center">
                        Saiba mais...
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 stroke-[2px]">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </a>
                </button>
            
            </div>
        </div>

        <div class="w-1/2 mx-auto">
            <img src="https://i.postimg.cc/vTDThYfY/bm1-1.jpg" alt="">
        </div>
    </div>

    <div class="lg:flex w-full border-b-2 shadow pb-8 lg:pb-0">
        <div class="w-1/2 mx-auto lg:order-0 order-1">
            <img src="https://i.postimg.cc/pLZDsB6q/cardio-7-sombra.jpg" alt="">
        </div>
        <div class="w-11/12 mx-auto lg:order-1 order-0 lg:w-1/2 space-y-6 pt-10">
            <div class="border-l-4 border-[#43b4ff] pl-5">
                <h3 class="text-3xl">Eletrocardiógrafo Cardio7 Bionet</h3>
                <h4 class="text-gray-500">Sinais Vitais Automatizados</h4>
            </div>

            <div>
                <p>Captura, armazena, analisa e transmite, <span class="font-semibold">simplificando o fluxo de trabalho com usabilidade amigável.</span></p>
            </div>

            <div>
                <button>
                    <a href="#" class="border rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-200 flex items-center">
                        Saiba mais...
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 stroke-[2px]">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </a>
                </button>
            </div>
        </div>
    </div>

    <div class="lg:flex  w-full border-b-2 shadow pb-8 lg:pb-0">
        <div class="w-11/12 mx-auto lg:w-1/2 space-y-6 pt-10">
            <div class="border-l-4 border-[#43b4ff] pl-5">
                <h3 class="text-3xl">FetalCare Gemelar FC-1400</h3>
                <h4 class="text-gray-500">Sinais Vitais Automatizados</h4>
            </div>

            <div>
                <p>Monitor fetal anteparto que oferece tela sensível ao toque de 7 ”de largura que é móvel com separação de traços FHR gêmeos e display CTG automático para facilitar a interpretação com memória embutida de até 72 horas.</p>
            </div>

            <div>
                <button>
                    <a href="#" class="border rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-200 flex items-center">
                        Saiba mais...
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 stroke-[2px]">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </a>
                </button>
            </div>
        </div>

        <div class="w-1/2 mx-auto">
            <img src="https://i.postimg.cc/6qXqsk7R/fc1400-sombra.jpg" alt="">
        </div>
    </div>
</div>








<script src="{% static 'js/carrossel.js' %}"></script>



{% endblock content %}