{% extends "partials/base.html" %}
{% load static %}
{% block content %}

<section id="banner" class="splide">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide h-[230px] lg:h-[510px] flex items-end w-full bg-cover bg-center bg-no-repeat" style="background-image: url(https://i.postimg.cc/xC9YdFcL/Banner-Site-Bionet-BM1-XPro-01.jpg);">
                <div class="lg:w-full lg:mb-28 mb-10">
                    <div class="w-9/12 lg:w-full lg:max-w-5xl mx-auto text-white">
                        <h2 class="font-bold text-3xl lg:text-7xl">BM1 XPro</h2>
                        <h3 class="text-[10px] lg:text-xl whitespace-nowrap">SINAIS VITAIS AUTOMATIZADOS E CONECTADOS</h3>
                    </div>
                </div>
            </li>
           
                <!-- BANNER 2 -->
            <li class="splide__slide h-[230px] lg:h-[510px] flex items-end w-full bg-cover bg-center bg-no-repeat" style="background-image: url(https://i.postimg.cc/GmQn5xM2/Banner-Site-Bionet-Eletrocardiografo-02.jpg);">
                <div class="w-full lg:mb-[330px] mb-28">
                    <div class="w-9/12 lg:w-full lg:max-w-2xl mx-auto text-white flex justify-end">
                        <div>
                            <h2 class="font-bold text-3xl lg:text-7xl">CARDIO 7</h2>
                            <h3 class="text-[10px] lg:text-xl whitespace-nowrap">INTEGRAÇÃO | OTIMIZAÇÃO | ECONOMIA</h3>
                        </div>
                        
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<script src="{% static 'js/carrossel.js' %}"></script>



{% endblock content %}