{% extends "partials/base.html" %}
{% load static %}
{% block content %}

<div>
    <img src="/static/img/produtos/monitor/Banner-Monitor-Fetal-1-1700x350.png" alt="" class="mx-auto mt-0.5 lg:mt-0 lg:max-w-7xl">
</div>

<div class="max-w-7xl mx-auto w-11/12 lg:w-full lg:mt-10 pb-20">
    <div class="lg:flex py-16 border-b-[5px] space-x-0 lg:space-x-8">
        <div class="lg:w-1/3 w-full">
            <img id="img-fc-700" src="/static/img/produtos/monitor/fc700-fetalcare-1-1.jpg" alt="" class="mx-auto transition-opacity duration-150 ease-in-out">
        </div>
        <div class="w-full mx-auto lg:w-2/3 pt-5">
            <div class="space-y-5 w-full">
                <h2 class="text-3xl text-blue-600">FetalCare FC-700</h2>
                <div class="w-12 h-[6px] bg-gray-300 rounded-full"></div>
                <p class="font-semibold">O FetalCare oferece rapidez, simplicidade e avançados recursos para proporcionar os melhores cuidados ao bebê dentro da barriga, a um preço acessível!!
                </p>
                <ul class="list-disc text-gray-500 font-light text-justify w-11/12 mx-auto lg:w-full">
                    <li> FHR (Frequência Cardíaca Fetal), UC (Contração Uterina) e FM (Movimento Fetal)</li>
                    <li>
                        Operação rápida e fácil
                    </li>
                    <li>
                        Detecção automática do movimento fetal
                    </li>
                    <li>
                        Display LED da FCF e UC
                    </li>
                    <li>
                        Impressão em formato A4 permite fácil visualização
                    </li>
                    <li>
                        Baixo custo de impressão – Permite o uso de papel fax
                    </li>
                    <li>
                        Alta sensibilidade (1 Mhz)
                    </li>
                    <li>
                        Atualização através de Software (RS-232)
                    </li>
                    <li>
                        Análise automática CTG
                    </li>
                    <li>
                        Central de monitoramento sem fio até 16 leitos (opcional)
                    </li>
                </ul>

                <div class="flex space-x-3 ">
                    <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                        <a href="#" class="flex items-center">
                            Catálogo
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
                            </svg>
                        </a>
                    </button>
                    
                    <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                        <a href="#" class="flex items-center">
                            Manual
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                            </svg>
                        </a>
                    </button>
    
                    <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                        <a href="#" class="flex items-center">
                            Software
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
                            </svg>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="lg:flex py-16 border-b-[5px] space-x-0 lg:space-x-8">
        <div class="lg:w-1/3">
            <img id="img-fc-1400" src="/static/img/produtos/monitor/monitor-fetal-cardiotocografo-gemelar-fc1400-bionet-I00063-1.png" alt="" class="mx-auto transition-opacity duration-150 ease-in-out">
        </div>
        <div class="w-11/12 mx-auto lg:w-2/3 pt-5">
            <div class="space-y-5 w-full">
                <h2 class="text-3xl text-blue-600">FetalCare Gemelar FC-1400</h2>
                <div class="w-12 h-[6px] bg-gray-300 rounded-full"></div>
                <p class="font-semibold">O Gemelar FC-1400 é um equipamento de alta tecnologia que dispõe de recursos precisos e confiáveis!!
                </p>
                <ul class="list-disc text-gray-500 font-light text-justify w-11/12 mx-auto lg:w-full">
                    <li>  Monitoração não invasiva e simultânea de gestação de gêmeos</li>
                    <li>
                        FHR (Frequência Cardíaca Fetal), UC (Contração Uterina) e FM (Movimento Fetal)
                    </li>
                    <li>
                        Display de TFT LCD touchscreen colorido
                    </li>
                    <li>
                        Visor numérico e gráfico
                    </li>
                    <li>
                        Painel de controle interativo com 10 teclas de membrana com 16 funções dedicadas e atalhos, ícones indicativos  de função e luzes indicadoras
                    </li>
                    <li>
                        Impressora térmica integrada, permite imprimir os exames realizados, em um relatório em formato contínuo ou em um formato predefinido em carta ou A4.
                    </li>
                    <li>
                        Possui conexões para transdutores de Doppler por Ultrassom e TOCO, energia elétrica e conexões para sistemas  de comunicação LAN, USB e conversor USB Wifi
                    </li>
                    <li>
                        Transdutor de ultrassom de alta sensibilidade de 1 MHz
                    </li>
                    <li>
                        Memória de 72 horas de armazenamento
                    </li>
                    <li>
                        Permite adicionar até 100 notas em uma lista de eventos clínicos
                    </li>
                    <li>
                        Alarmes sonoros e visuais para fácil reconhecimento de eventos relacionados ao paciente ou equipamento
                    </li>
                    <li>
                        Sistema Multi Central de Monitoramento Fetal sem fio para até 16 leitos
                    </li>
                </ul>

                <div class="flex space-x-3">
                    <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                        <a href="#" class="flex items-center">
                            Catálogo
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
                            </svg>
                        </a>
                    </button>
                   
                    <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                        <a href="#" class="flex items-center">
                            Manual
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                            </svg>
                        </a>
                    </button>

                    <button class="border-2 rounded text-sm px-3 py-1.5 text-[#2fa5f3] hover:text-white border-[#248dd3] hover:bg-[#2fa5f3] transition duration-300 flex items-center">
                        <a href="#" class="flex items-center">
                            Software
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
                            </svg>
                        </a>
                    </button>
                    
                </div>
            </div>
        </div>
    </div>

</div>

<script src="{% static 'js/change_image.js' %}"></script>
<script>
trocaDeImagem(fc700,'/static/img/produtos/monitor/FC700-Bionet-completo.jpg','/static/img/produtos/monitor/fc700-fetalcare-1-1.jpg')
trocaDeImagem(fc1400,'/static/img/produtos/monitor/monitor-fetal-cardiotocografo-gemelar-fc1400-bionet-I00063-3.png','/static/img/produtos/monitor/monitor-fetal-cardiotocografo-gemelar-fc1400-bionet-I00063-1.png')

</script>

{% endblock content %}