{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TAILWIND  -->
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <!-- ALPINE -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="shortcut icon" href="https://i.postimg.cc/W3rR3HK8/Icone-Bionet.png" type="image/x-icon">
     <!-- SPLIDE CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.2/dist/css/splide.min.css">
     <!-- SPLIDE JS -->
     <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.2/dist/js/splide.min.js"></script>
    <title>eBionet</title>
</head>
<body x-data="Data()">
    <header>
        {% include "partials/header_desktop.html" %}
        {% include "partials/header_mobile.html" %}
    </header>

    <main class="min-h-screen overflow-x-hidden">
        {% block content %}
        {% endblock content %}
    </main>
    
    <footer class="bg-black flex justify-center items-center text-white h-[60px] text-sm">
        <a href="https://www.macrosul.com/">Copyright © 2024 Macrosul</a>
    </footer>

    <script defer src="{% static 'js/carrossel.js' %}"></script>

    
</body>
</html>