<div class="bg-white hidden lg:flex h-[90px] w-full items-center">
    <div class="max-w-7xl w-full mx-auto flex items-center justify-between px-6">
        <div>
            <a href="/">
                <img src="/static/img/core/Logo-Bionet.png" alt="Logo Bionet" class="w-28">
            </a>
        </div>

        <div class="flex space-x-6 text-lg">
            <div id="home" class="border-b p-2 border-transparent hover:text-blue-600 hover:border-blue-600 transition duration-200">
                <a href="/">Home</a>
            </div>

            <div @mouseover="menuProdutos = true" @mouseleave="menuProdutos = false">
                <button id="produtos" @mouseover="menuProdutos = true" @mouseleave="menuProdutos = false" class="border-b p-2 border-transparent hover:text-blue-600 hover:border-blue-600 transition duration-200">
                    <p>Produtos</p>
                </button>

                <div x-cloak x-show="menuProdutos" class="pt-[22px] absolute z-50">
                    <div class="bg-[#0073BE] w-64 text-white rounded p-4 px-8 text-base space-y-1">
                        <div class="hover:scale-105 transition duration-200">
                            <a href="{% url 'eletro' %}">Eletrocardiógrafo</a>
                        </div>
                        <div class="hover:scale-105 transition duration-200">
                            <a href="{% url 'medidor' %}">Medidor de Sinais Vitais</a>
                        </div>
                        <div class="hover:scale-105 transition duration-200">
                            <a href="{% url 'monitor' %}">Monitor Fetal</a>
                        </div>
                    </div>
                   
                </div>
            </div>
            
            
            
            <div id="suporte" class="border-b p-2 border-transparent hover:text-blue-600 hover:border-blue-600 transition duration-200">
                <a href="{% url 'suporte' %}">Suporte</a>
            </div>

            <div id="contato" class="border-b p-2 border-transparent hover:text-blue-600 hover:border-blue-600 transition duration-200">
                <a href="{% url 'contato' %}">Contato</a>
            </div>


            
        </div>

        
    </div>
</div>